
/* barlow-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/barlow-v12-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../assets/fonts/barlow-v12-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/barlow-v12-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../assets/fonts/barlow-v12-latin-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* @link https://utopia.fyi/type/calculator?c=320,16,1.2,1240,32,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --step--2: clamp(0.6944rem, 0.4908rem + 1.0184vi, 1.28rem);
  --step--1: clamp(0.8333rem, 0.5667rem + 1.3333vi, 1.6rem);
  --step-0: clamp(1rem, 0.6522rem + 1.7391vi, 2rem);
  --step-1: clamp(1.2rem, 0.7478rem + 2.2609vi, 2.5rem);
  --step-2: clamp(1.44rem, 0.8539rem + 2.9304vi, 3.125rem);
  --step-3: clamp(1.728rem, 0.9703rem + 3.7883vi, 3.9063rem);
  --step-4: clamp(2.0736rem, 1.0965rem + 4.8856vi, 4.8828rem);
  --step-5: clamp(2.4883rem, 1.2309rem + 6.2873vi, 6.1035rem);
}

/* @link https://utopia.fyi/space/calculator?c=320,18,1.2,1240,32,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --space-3xs: clamp(0.3125rem, 0.2473rem + 0.3261vi, 0.5rem);
  --space-2xs: clamp(0.5625rem, 0.4103rem + 0.7609vi, 1rem);
  --space-xs: clamp(0.875rem, 0.6576rem + 1.087vi, 1.5rem);
  --space-s: clamp(1.125rem, 0.8207rem + 1.5217vi, 2rem);
  --space-m: clamp(1.6875rem, 1.231rem + 2.2826vi, 3rem);
  --space-l: clamp(2.25rem, 1.6413rem + 3.0435vi, 4rem);
  --space-xl: clamp(3.375rem, 2.462rem + 4.5652vi, 6rem);
  --space-2xl: clamp(4.5rem, 3.2826rem + 6.087vi, 8rem);
  --space-3xl: clamp(6.75rem, 4.9239rem + 9.1304vi, 12rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.3125rem, 0.0734rem + 1.1957vi, 1rem);
  --space-2xs-xs: clamp(0.5625rem, 0.2364rem + 1.6304vi, 1.5rem);
  --space-xs-s: clamp(0.875rem, 0.4837rem + 1.9565vi, 2rem);
  --space-s-m: clamp(1.125rem, 0.4728rem + 3.2609vi, 3rem);
  --space-m-l: clamp(1.6875rem, 0.8832rem + 4.0217vi, 4rem);
  --space-l-xl: clamp(2.25rem, 0.9457rem + 6.5217vi, 6rem);
  --space-xl-2xl: clamp(3.375rem, 1.7663rem + 8.0435vi, 8rem);
  --space-2xl-3xl: clamp(4.5rem, 1.8913rem + 13.0435vi, 12rem);

  /* Custom pairs */
  --space-s-l: clamp(1.125rem, 0.125rem + 5vi, 4rem);
}

:root {
  --font-family: 'Barlow', sans-serif;
  --measure: 60ch;
  --fw-bold:700
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

[class^='stack'] {
  display: flex;
  flex-direction: column;
  justify-content: var(--vertical-alignment, flex-start);
}

.stack > * + * {
  margin-block-start: var(--margin-block-start,);
}

.stack-large > * + * {
  margin-block-start: var(--s5);
}

.center {
  box-sizing: content-box;
  max-inline-size: var(--max-inline-size);
  margin-inline: auto;
  padding-inline: var(--padding-inline);
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

.box {
  color: var(--color);
  background-color: var(--background-color);
  border-width: var(--border-width);
  border-style: var(--border-style);
  border-color: var(--border-color);
  padding: var(--padding, var(--s1));
}

.cluster {
  display: flex;
  flex-wrap: var(--flex-wrap);
  column-gap: var(--column-gap, var(--space-2xs));
  row-gap: var(--row-gap, var(--s0));
  justify-content: var(--horizontal-alignment,space-between);
  align-items: var(--vertical-alignment,center);
  flex-wrap: var(--flex-wrap);
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

body {
  font-family: var(--font-family);
  font-size: var(--step-0);
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
figcaption {
  max-inline-size: var(--measure);
}

header {
  --color: white;
  /*   --max-inline-size: calc(var(--measure) * 2); */
  --max-inline-size: ;
  --padding-inline: var(--space-xs);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

header.sticking {
  background-color: black;
}

header > .cluster {
  inline-size: 100%;
}

header > .cluster > nav {
  margin-inline-start: auto;
}

header ul {
  padding: 0;
  list-style: none;
}

header a {
  /* text-transform: uppercase; */
  /*   font-weight: var(--fw-bold); */
  text-decoration: none;
  padding: 0.5em;
  display: inline-block;
  color: var(--color);
  font-weight: var(--fw-bold);
}

.social-links {
  --column-gap: 0;
}

.hero {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.video-bg {
  position: absolute;
  z-index: -1;
  object-fit: cover;
  object-position: center;
  width: 100vw;
  height: 100vh;
}

:root {
  --max-inline-size : 95vw;
  --flex-wrap:wrap;
  --horizontal-alignment:space-evenly;
  --column-gap:0;

}

figure {
  flex: 0 1 640px;
}

article {
  --margin-block-start: var(--step-4);
}

article h2 {
  font-size: var(--step-4);
  --measure:13ch;
  line-height: 1;
}

article  p {
  --measure:37ch;
}

article strong {
  font-size: var(--step-1);
  line-height: 1;
}

section.text {
  block-size: 65vh;
  background-image: url("../assets/images/DSC08395.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  --vertical-alignment:center
}

section.text span {
  color : white;
  font-weight: var(--fw-bold);
  font-size: var(--step-4);
  text-align: center;
}

