footer {
  font-weight: var(--fw-bold);
  color: white;
  background-color: var(--clr-gray);
  --padding-inline: var(--space-xs-s);
}

footer span {
  font-size: var(--step-2);
  text-align: center;
}

footer .stack {
  align-items: center;
  --vertical-alignment: center;
  block-size: 50vh;
}

footer .contact {
  text-decoration: none;
  color: black;
  padding: .75rem 1.5rem;
  background-color: white;
  border-radius: 0.25em;
  /* font-size: var(--step--2); */
  font-size: 16px;
}

footer .social-links {
  --horizontal-alignment: center;
  line-height: 0;
  --column-gap: var(--space-s);
}

footer .social-links a {
  color: currentColor;
}
