:root {
  --max-inline-size : 90vw;
  --flex-wrap:wrap;
  --horizontal-alignment:space-evenly;
  --column-gap:0;

}

figure {
  flex: 1 1 720px;
}

section.text {
  block-size: 50vh;
  background-image: url("../../assets/images/MARKETING.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

