---
permalink: css/base.css
---

{% include "./1-base/1-fonts.css" %}
{% include "./1-base/2-custom-properties.css" %}
{% include "./1-base/3-reset.css" %}
{% include "./1-base/4-layout-primitives.css" %}
{% include "./1-base/5-utility-classes.css" %}
{% include "./1-base/6-global-styles.css" %}
{% include "./2-layout/header.css" %}
{% include "./2-layout/main.css" %}