/* @link https://utopia.fyi/type/calculator?c=320,24,1.2,1240,32,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --step--2: clamp(1.0417rem, 0.9588rem + 0.4145vi, 1.28rem);
  --step--1: clamp(1.25rem, 1.1283rem + 0.6087vi, 1.6rem);
  --step-0: clamp(1.5rem, 1.3261rem + 0.8696vi, 2rem);
  --step-1: clamp(1.8rem, 1.5565rem + 1.2174vi, 2.5rem);
  --step-2: clamp(2.16rem, 1.8243rem + 1.6783vi, 3.125rem);
  --step-3: clamp(2.592rem, 2.1349rem + 2.2857vi, 3.9063rem);
  --step-4: clamp(3.1104rem, 2.4939rem + 3.0825vi, 4.8828rem);
  --step-5: clamp(3.7325rem, 2.9078rem + 4.1235vi, 6.1035rem);
}

/* @link https://utopia.fyi/space/calculator?c=320,24,1.2,1240,32,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --space-3xs: clamp(0.375rem, 0.3315rem + 0.2174vi, 0.5rem);
  --space-2xs: clamp(0.75rem, 0.663rem + 0.4348vi, 1rem);
  --space-xs: clamp(1.125rem, 0.9946rem + 0.6522vi, 1.5rem);
  --space-s: clamp(1.5rem, 1.3261rem + 0.8696vi, 2rem);
  --space-m: clamp(2.25rem, 1.9891rem + 1.3043vi, 3rem);
  --space-l: clamp(3rem, 2.6522rem + 1.7391vi, 4rem);
  --space-xl: clamp(4.5rem, 3.9783rem + 2.6087vi, 6rem);
  --space-2xl: clamp(6rem, 5.3043rem + 3.4783vi, 8rem);
  --space-3xl: clamp(9rem, 7.9565rem + 5.2174vi, 12rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.375rem, 0.1576rem + 1.087vi, 1rem);
  --space-2xs-xs: clamp(0.75rem, 0.4891rem + 1.3043vi, 1.5rem);
  --space-xs-s: clamp(1.125rem, 0.8207rem + 1.5217vi, 2rem);
  --space-s-m: clamp(1.5rem, 0.9783rem + 2.6087vi, 3rem);
  --space-m-l: clamp(2.25rem, 1.6413rem + 3.0435vi, 4rem);
  --space-l-xl: clamp(3rem, 1.9565rem + 5.2174vi, 6rem);
  --space-xl-2xl: clamp(4.5rem, 3.2826rem + 6.087vi, 8rem);
  --space-2xl-3xl: clamp(6rem, 3.913rem + 10.4348vi, 12rem);

  /* Custom pairs */
  --space-s-l: clamp(1.5rem, 0.6304rem + 4.3478vi, 4rem);
}

:root {
  --font-family: 'Barlow', sans-serif;
  --measure: 60ch;
  --fw-bold:700
}
