<footer>
  <div class="stack center">
    <span>Partageons nos idées.</span>
    <a class="contact" {% if page.url== '/' %} href="./contact" {% else %} href="../contact" {%endif%}>Contactez-nous</a>
    <div class="cluster social-links">
      {%- for network in socialNetworks %}

      <a href="{{ network.url }}" target="_blank" rel="noopener noreferrer">
        <ion-icon
          name="{{network.icon}}"
          aria-label="{{network.text}}"
        ></ion-icon>
      </a>

      {%- endfor %}
    </div>
  </div>
</footer>
